body,
html {
  width: 100%;
  height: 100%;
  background-color: rgb(249,228,226);
  background-image: url('../img/bg.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-attachment: fixed;
  overflow-x: hidden; 
  overflow-y: auto;
}

footer {
  position:fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.imagecredits {
}

.sitecredits {
  color: white;
  font-size: 10pt;
  font-family: 'Allura', cursive;
}